.DS_Store
._.DS_Store
tmp.json
tmp.html
*_p*-????????-????.html
*.bak
*.json
*.csv
*.log
*.xml
*.iml
*.script
*.swp
*.swo
*~
*.orig
*.org
.directory
.idea/
*.tar.*
*.patch
*.diff
*.rej
*.asc
*.crt
*.pem
*.der
*.csr
*.p12
thumbs.db
todo.md
2do.md
