---
name: Codespell
on: [push, pull_request]
permissions:
  contents: read

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: codespell-project/actions-codespell@master
        with:
          skip: ca_hashes.txt,tls_data.txt,*.pem,OPENSSL-LICENSE.txt,.git,CREDITS.md,openssl.cnf,*diff
          ignore_words_list: borken,gost,ciph,ba,bloc,isnt,chello,fo,alle,nmake,anull
