---
name: Codespell
on: [push, pull_request]
jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: codespell-project/actions-codespell@master
        with:
          skip: ca_hashes.txt,tls_data.txt,*.pem,OPENSSL-LICENSE.txt
          ignore_words_list: borken,gost,ciph,ba,bloc,isnt,chello,fo,alle,nmake
